/* Lusail Font Family - Qatar Official Font */

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lusail';
  src: url('./Lusail+ Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

